[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "*"
numpy = "*"
kaleido = "==1.0.0rc0"
graphviz = "*"
pydantic = "*"
pyyaml = "*"
inflection = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
